.container{
    flex:1;
    height: 500px;
    background-color:rgb(235, 235, 235) ;
    margin: 5px;
    border-radius: 20px;
    position:relative;
}
.containerForDraggable{
    margin: 10px 0px;
    height: 350px;
    background-color:white;
    border-radius: 25px;
    overflow-y: scroll;
}