.headerContainer{
    background-color:  #a19ea1;
    height: 50px;
    border-radius:20px 20px 0 0;
    font-weight: bold;
    font-size: 20px;
    font-family: serif;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    width: 400px;
}