.app {
  text-align: center;
}

.mainContainer{
  display: flex;
  margin: 10px;
}

.container{
flex:1;
height: 500px;
background-color:rgb(235, 235, 235) ;
margin: 5px;
border-radius: 20px;
}

.draggable{
	width: 100px;
	height: 100px;
	background-color: blue;
	margin: 5px auto;
	line-height: 5em;
}
